# === MLflow (tracking y registry) ===
mlruns/
mlruns_local/
mlartifacts/
mlflow.db

# ===  Fixtures and outlets ===
artifacts/
models/
outputs/
reports/
logs/
*.log

assets/

# === Python / cache ===
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# === Environments ===
.venv/
venv/
env/
.conda/
*.egg-info/

# === IDE / SO ===
.idea/
.vscode/
.DS_Store
Thumbs.db